<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>

<nav class="navbar navbar-expand-lg bg-body-tertiary" th:fragment="navLoggedIn" id="navbarLoggedIn">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">workoutnotepad</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarLoggedSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Measurements</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Workout
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/add-workout">add a workout</a></li>
                        <li><a class="dropdown-item" href="/list-workouts">list of workouts</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/list-workout-results">list of completed workouts</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Exercise
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">add exercise</a></li>
                        <li><a class="dropdown-item" href="#">list of exercises</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="navbar-nav" id="navBarLoggedLogout">
                <li class="nav-item">
                    <a href="#"><img class="fit-picture" src="/static/images/gear.png" th:src="@{/images/gear.png}"
                     alt ="settings icon" ></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<nav class="navbar navbar-expand-lg bg-body-tertiary" th:fragment="navbarNotLoggedIn" id="navbarNotLoggedIn">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">workoutnotepad</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNotLoggedSupportedContent">
            <ul class="navbar-nav" id="navBarNotLoggedLogout">
                <li class="nav-item">
                    <a class="nav-link" href="/login">Log In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/register">Sign In</a>
                </li>
            </ul>
        </div>
    </div>
</nav>




</body>
</html>