html, body {

    width: 100%;
    height: 100%;
}

.fit-picture {
    width: 25px;
    height: 25px;
    margin-top: 7px;
}
.container {
    margin-top: 100px;
    font-family: Verdana;

}
.col-custom {
    position: relative;
    width: 40%;

    margin-right: 1rem;
}


#navbarLoggedIn {
    padding-left: 16vw;
    font-family: Verdana;
    font-size: 24px;
    border-bottom: 2px solid #333;

}

#navbarNotLoggedIn {
    text-align: center;
    font-family: Verdana;
    font-size: 24px;
    border-bottom: 2px solid #333;
    position: relative;
}

#navbarNotLoggedIn .navbar-brand {
    font-size: 24px;
    transform: translateX(-50%);
    left: 50%;
    position: relative;
    display: block;
}

#navbarLoggedIn .navbar-brand {

    font-size: 24px;
}

th {
    font-weight: normal;
}

#navbarLoggedIn .container-fluid {
    padding-left: 60px;
}


.navbar-collapse {
    width:100%;
}
#navbarLoggedIn #navBarLoggedLogout {
    padding-left: 10vw;
}
#navbarNotLoggedIn #navBarNotLoggedLogout {
    left: 60%;
    position: relative;
}

.nav-link {
    font-size: 20px;
}

.carousel-item {
    height: 100%;
    width: 100%;
    text-align: center;

}

.short-div {
    padding-top: 3rem;

}

.carousel-inner {
    height: 15rem;
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container h1 {
    font-size: 28px;
}

.col-bd {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.col-custom-small{
    text-align: center;
}

.separator {
    position: relative;

}

.registrationForm {
    margin-top: 5vh;
    text-align: center;
    font-family: Verdana;
    font-size: 20px;

}

.registrationForm #inputUsername {
    width: 300px;
    margin: 0 auto;
    border-radius: 0;
    border: 1px solid #333;
}

.registrationForm #inputFirstName {
    width: 300px;
    margin: 0 auto;
    border-radius: 0;
    border: 1px solid #333;
}

.registrationForm #inputEmail {
    width: 300px;
    margin: 0 auto;
    border-radius: 0;
    border: 1px solid #333;
}

.registrationForm #inputPassword {
    width: 300px;
    margin: 0 auto;
    border: 1px solid #333;
    border-radius: 0;
}

.registrationForm .btn {
    border: 1px solid #333;
    border-radius: 0;
}

.registrationForm .alert {
    width: 300px;
    font-size: 12px;
    text-align: center;
    margin: 0 auto;
}

.div-success {
    text-align: center;
    font-family: Verdana;
    font-size: 30px;
}

.div-success .btn{
    border: 1px solid #333;
    border-radius: 0;
}

.bodyDimensionForm {
    margin-top: 5vh;
    text-align: center;
    font-family: Verdana;
    font-size: 20px;
}


.bodyDimensionForm input {
    width: 300px;
    margin: 0 auto;
    border-radius: 0;
    border: 1px solid #333;
    text-align: center;
}

.bodyDimensionForm .btn {
    width: 200px;
    border: 1px solid #333;
    border-radius: 0;
}

.bodyDimensionForm #bodyDimensionsSubmit {
    padding-top: 38px;
}

.bodyDimensionForm #lastRow {
    padding-left: 200px;
    padding-right: 200px;
}

#addBodyDimensionsBtn, #addExercise, #addExerciseSecond, #addNewWorkout, #addNewWorkoutSecond {
    width: 200px;
    border: 1px solid #333;
    border-radius: 0;
}

.col-bd {
    text-align: center;
}

.col-bd-display {
    padding-left: 80px;
}

.exerciseForm .btn {
    width: 200px;
    border: 1px solid #333;
    border-radius: 0;
}

.exerciseForm #inputName  {
    width: 300px;
    margin: 0 auto;
    border-radius: 0;
    border: 1px solid #333;
    text-align: center;
}
.form-check > input[type="checkbox"] {
    opacity: 0;
}

.form-check > input[type="checkbox"] + .form-check-label::after {
    content: none;
}
.form-check > input[type="checkbox"]:checked + .form-check-label::after {
    content: "";
}

.form-check > input[type="checkbox"]:focus + .form-check-label::before {

    outline: none;
}


.div-input > textarea {
    resize: none;
    border: 1px solid #333;
    border-radius: 0;
    width: 500px;
    height: 140px;
    margin-left: auto;
    margin-right: auto;
}

.exerciseForm  .div-check {
    padding-top: 12px;
    padding-left: 40px;
}

.bodyDimensionForm .container {
    margin-top: 60px;
}

.exerciseForm .container {
    margin-top: 60px;
}


.form-check {
    text-align: left;
}




.form-check-label::before {
    content: "";
    display: inline-block;
    height: 20px;
    width: 20px;
    border: 1px solid #333;
    position: absolute;
    top: 3px;
    left: 0px;

}
.form-check-label::after {
    content: "";
    display: inline-block;
    height: 8px;
    width: 13px;
    border-left: 2px solid;
    border-bottom: 2px solid;

    transform: rotate(-45deg);
    position: absolute;
    left: 4px;
    top: 7px;

}


.form-check-label {
    font-size: 18px;
    position: relative;
    display: inline-block;
    padding-left: 28px;

}

.exerciseForm {
    margin-top: 5vh;
    text-align: center;
    font-family: Verdana;
    font-size: 20px;
}

.exerciseForm .form-check-input {
    padding-left: 40px;
}
.workoutForm {
    margin-top: 5vh;
    text-align: center;
    font-family: Verdana;
    font-size: 20px;
}
.workoutForm #inputName  {
    width: 300px;
    margin: 0 auto;
    border-radius: 0;
    border: 1px solid #333;
    text-align: center;
}

.workoutForm input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 16px;
    height: 16px;
    border: 1px solid #ccc;
    border-radius: 0px;
    cursor: pointer;
}

.workoutForm input[type="checkbox"]:checked {
    background-color: black;
    border-color: black;
    color: white;
}

.workoutForm .container {
    margin-top:  1vh;
}

.workoutForm .table {
    font-size: 14px;
    width: 100%;

}

.workoutForm h2 {
    font-size: 24px;
}

.workoutForm .div-table {
    max-height: 435px;
    overflow-y: auto;
}

.workoutForm .div-table-adjusted {
    max-height: 420px;
    overflow-y: auto;
}

.workoutForm .fixed-header {
    position: sticky;
    top: 0;
    background-color: white;
}

.workoutForm .btn {
    width: 200px;
    border: 1px solid #333;
    border-radius: 0;
}