<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="myFunction">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Adding workout ...</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link href="/static/css/styles.css" rel="stylesheet" th:href="@{/css/styles.css}"/>

    <script>
        function updateSelectedExercisesCount() {



            var selectedCount = document.querySelectorAll('input[name="selectedExercise"]:checked').length;
            document.getElementById('selectedCount').innerText = selectedCount;

            var checkboxes = document.querySelectorAll('input[name="selectedExercise"]');
            for (var i = 0; i < checkboxes.length; i++) {
                checkboxes[i].disabled = selectedCount >= 10 && !checkboxes[i].checked;
            }

            var selectedExercises = [];

            var checkboxes = document.querySelectorAll('input[name="selectedExercise"]:checked');
            checkboxes.forEach(function (checkbox) {
                selectedExercises.push(checkbox.value);
            });

            document.getElementById('selectedExerciseIds').value = selectedExercises.join(',');

            document.querySelector('button[name="submitBtn"]').disabled = selectedCount === 0 || selectedCount > 10;
        }

        window.onload = function () {
            updateSelectedExercisesCount();
        };
    </script>

</head>
<body class="d-flex flex-column min-vh-100">

<nav th:replace="~{fragments/header :: navLoggedIn}" id="navbarLoggedIn">

</nav>

<form class="workoutForm" action="#" method="post" th:action="@{/add-workout}" th:object="${workoutRequest}">
    <div class="container">
        <div class="row">

            <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
                <div th:each="err : ${#fields.errors('*')}" th:text="${err}"></div>
            </div>
            <div class="div-input mb-3">
                <label for="inputName" class="form-label">Name of the workout</label>
                <input type="text" th:field="*{name}"  class="form-control" id="inputName">
                <br>
                <h3>Select Exercises for the Workout</h3>
            </div>


            <div class ="col-xl-6 col-12">
                    <h2>Your exercises</h2>
                <div th:if="${not #lists.isEmpty(exercises)}">
                    <div th:class="${#lists.size(exercises) > 10} ? 'div-table-adjusted' : 'div-table'">
                        <table class="table table-bordered">
                            <thead class = "fixed-header">
                            <tr>
                                <th>Name</th>
                                <th>Reps</th>
                                <th>Weight</th>
                                <th>Series</th>
                                <th>Time</th>
                                <th>Description</th>
                                <th>Select</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="exercise : ${exercises}">
                                <td class = "center-text" th:text="${exercise.name}"></td>
                                <td class = "center-text" th:text="${exercise.hasReps ? '&#10003': '&#10799'}"></td>
                                <td class = "center-text" th:text="${exercise.hasWeight ? '&#10003': '&#10799'}"></td>
                                <td class = "center-text" th:text="${exercise.hasSeries ? '&#10003': '&#10799'}"></td>
                                <td class = "center-text" th:text="${exercise.hasTime ? '&#10003': '&#10799'}"></td>
                                <td class = "center-text" >
                                    <div class="hover-element"  th:title="${exercise.description}">
                                        &#128712;
                                    </div>
                                </td>
                                <td class = "center-text">
                                    <div th:if="${not #lists.isEmpty(workoutRequest.exerciseIds)}">
                                        <input type="checkbox" name="selectedExercise" th:value="${exercise.id}"
                                               th:checked="${#lists.contains(workoutRequest.exerciseIds, exercise.id)}"
                                               onchange="updateSelectedExercisesCount()" />
                                    </div>
                                    <div th:unless="${not #lists.isEmpty(workoutRequest.exerciseIds)}">
                                        <input type="checkbox" name="selectedExercise" th:value="${exercise.id}"
                                               onchange="updateSelectedExercisesCount()" />
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div th:unless="${not #lists.isEmpty(exercises)}" class="empty-div">
                    <h1>NO EXERCISES TO DISPLAY</h1>
                </div>
            </div>
            <div class = "col-xl-6 col-12">
                <h2>Other users exercises</h2>
                <div th:if="${not #lists.isEmpty(otherUsersExercises)}">
                <div th:class="${#lists.size(otherUsersExercises) > 10} ? 'div-table-adjusted' : 'div-table'">
                <table class="table table-bordered">
                    <thead class = "fixed-header">
                    <tr>
                        <th>Name</th>
                        <th>Reps</th>
                        <th>Weight</th>
                        <th>Series</th>
                        <th>Time</th>
                        <th>Description</th>
                        <th>Select</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="exercise : ${otherUsersExercises}">
                        <td class = "center-text" th:text="${exercise.name}"></td>
                        <td class = "center-text" th:text="${exercise.hasReps ? '&#10003': '&#10799'}"></td>
                        <td class = "center-text" th:text="${exercise.hasWeight ? '&#10003': '&#10799'}"></td>
                        <td class = "center-text" th:text="${exercise.hasSeries ? '&#10003': '&#10799'}"></td>
                        <td class = "center-text" th:text="${exercise.hasTime ? '&#10003': '&#10799'}"></td>
                        <td class = "center-text">
                            <div class="hover-element"  th:title="${exercise.description}">
                                &#128712;
                            </div>
                        </td>
                        <td class = "center-text">
                            <div th:if="${not #lists.isEmpty(workoutRequest.exerciseIds)}">
                                <input type="checkbox" name="selectedExercise" th:value="${exercise.id}"
                                       th:checked="${#lists.contains(workoutRequest.exerciseIds, exercise.id)}"
                                       onchange="updateSelectedExercisesCount()" />
                            </div>
                            <div th:unless="${not #lists.isEmpty(workoutRequest.exerciseIds)}">
                                <input type="checkbox" name="selectedExercise" th:value="${exercise.id}"
                                       onchange="updateSelectedExercisesCount()" />
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                </div>
                </div>
                <div th:unless="${not #lists.isEmpty(otherUsersExercises)}" class="empty-div">
                    <h1>NO EXERCISES TO DISPLAY</h1>
                </div>
            </div>
            <div>
                <p>Selected: <span id="selectedCount">0</span>/10</p>
                <input type="hidden" name="selectedExerciseIds" id="selectedExerciseIds" th:field="*{exerciseIds}"/>
                <button type="submit" name="submitBtn" class="btn btn-light" disabled>Submit</button>
            </div>
        </div>
    </div>

</form>


<div th:replace="~{fragments/footer :: footer}"></div>


</body>
</html>