<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="myFunction">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Workouts which you have already done</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link href="/static/css/styles.css" rel="stylesheet" th:href="@{/css/styles.css}"/>


</head>
<body class="d-flex flex-column min-vh-100">

<nav th:replace="~{fragments/header :: navLoggedIn}" id="navbarLoggedIn">

</nav>

<div class="listWorkoutResultsForm" >
    <div class="container">
        <div class="carousel-div">
            <input type="hidden" id="workoutResultId" name="workoutResultId" value=""/>
            <h1 th:if="${not #lists.isEmpty(workoutResults)}">Your already done workouts. GOOD JOB! :)</h1>
            <div id="slides" class="carousel carousel-dark slide">
                <div class="carousel-inner">
                    <div th:if="${not #lists.isEmpty(workoutResults)}">

                        <div th:if="${errorMessage}" class="alert alert-danger">
                            <div th:text="${errorMessage}"></div>
                        </div>

                        <div th:if="${successMessage}" class="alert alert-success">
                            <div th:text="${successMessage}"></div>
                        </div>

                        <div th:each="workoutResult, status: ${workoutResults}" class="carousel-item"
                             th:classappend="${status.index == 0} ? 'active' : ''"  data-bs-interval="10000">
                            <div class="div-carousel" id="workoutResultCarousel">
                                <h1 th:text="'Workout ' + ${workoutResult.name}">name</h1>

                                <table class="table table-bordered">
                                    <thead class = "fixed-header">
                                    <tr>
                                        <th>Name</th>
                                        <th>Reps</th>
                                        <th>Weight</th>
                                        <th>Series</th>
                                        <th>Time</th>
                                        <th>Description</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="exerciseResult : ${workoutResult.listOfExerciseResults}">
                                        <td class = "center-text"
                                            th:text="${exerciseResult.exercise.name}"></td>
                                        <td class = "center-text"
                                            th:text="${exerciseResult.exercise.hasReps ? exerciseResult.repsCount : '&#10799'}"></td>
                                        <td class = "center-text"
                                            th:text="${exerciseResult.exercise.hasWeight ? exerciseResult.weight : '&#10799'}"></td>
                                        <td class = "center-text"
                                            th:text="${exerciseResult.exercise.hasSeries ? exerciseResult.seriesCount : '&#10799'}"></td>
                                        <td class = "center-text"
                                            th:text="${exerciseResult.exercise.hasTime ? exerciseResult.time : '&#10799'}"></td>
                                        <td class = "center-text">
                                            <div class="hover-element"  th:title="${exerciseResult.exercise.description}">
                                                &#128712;
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <form id="updateWorkoutResultForm" th:action="@{/update-workoutResult}" th:method="post">
                                    <input type="hidden" name="workoutResultId" th:value="${workoutResult.id}" />
                                    <button type="submit" class="btn btn-light">Update</button>
                                </form>
                                <form id="deleteWorkoutResultForm" th:action="@{/delete-workoutResult}" th:method="delete">
                                    <input type="hidden" name="workoutResultId" th:value="${workoutResult.id}" />
                                    <button type="button" class="btn btn-light" onclick="confirmDelete()">Delete</button>
                                </form>
                            </div>
                        </div>
                        <div class="carousel-item" id="lastItemWorkResultCarousel">
                            <div class="">
                                <h1>No more workout results to display</h1>
                                <a href="/list-workouts" class="btn btn-light"
                                   id="addWorkoutResultSecond">Would you like to fill the results to new workout?</a>
                            </div>
                        </div>
                    </div>
                    <div th:unless="${not #lists.isEmpty(workoutResults)}">
                        <div th:if="${successMessage}" class="alert alert-success">
                            <div th:text="${successMessage}"></div>
                        </div>
                        <div class="carousel-item active" data-bs-interval="10000">
                            <div class="div-carousel" id="noWorkoutResultCarousel">
                                <h1>No workout results to display</h1>
                                <a href="/list-workouts" class="btn btn-light" id = "addWorkoutResult">Fill the workout with results!</a>
                            </div>
                        </div>
                    </div>

                </div>
                <div th:if="${not #lists.isEmpty(workoutResults)}">
                    <button class="carousel-control-prev" type="button" data-bs-target="#slides" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#slides" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>

    </div>


</div>

<div th:replace="~{fragments/footer :: footer}"></div>
<script>
    function confirmDelete() {
        if (confirm("Are you sure you want to delete this workout result?")) {
            document.getElementById("deleteWorkoutResultForm").submit();
        } else {
        }
    }

</script>

</body>
</html>